@import "tailwindcss";

@font-face {
    font-family: "pricedown";
    src: url("./pricedown.otf");
}

html,body{
    width: 100%;
    height: 100%;
    font-family: pricedown;
}
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: black;
}
