@font-face {
  font-family: "pricedown";
  src: url("/pricedown.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* apply it */
html, body {
  width: 100%;
  height: 100%;
  font-family: "pricedown", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: black;
}
